{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="{% static 'css/see.css' %}">
</head>
<body>
    <div class="navbar" id="myNavbar">
        <div class="logo-container">
            <a href="{% url 'home' %}"><span style="color: #fff; font-size: 18px; font-weight: bold;">S.Konect</span></a>
    </div>
    <ul>
        <li><a href="{% url 'home' %}" class="active">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'career'%}">Features</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Service</a></li>
    </ul>
    <div class="btn">
        {% if user.is_authenticated %}

    <!-- <h3>Hello {{ fname }}</h3> -->
    <!-- <h4>You are loggedin succesfully</h4> -->
    <button type="submit"> <a href="signout">SignOUt</a></button>
    <!-- <a href="signout"> <button type="submit">Sign OUt</button></a> -->

    {% else %}

    <a href="{% url 'signup' %}"> <button class="button" type="submit">Sign Up</button></a>
    <a href="{% url 'signin' %}"> <button class="button" type="submit">Sign In</button></a>

    {% endif %}

    </div>
     <div class="toggle-icon" onclick="toggleNavbar()">&#9776;</div>

    </div>
    <section id="about">
        <div class="about-page">
            <div class="mage">
                <img src="{% static 'image/happy.jpg' %}" alt="" style="width: 100%;">
            </div>
            <div class="info">
                <h3>nula</h3>
                <h1> What We Do! </h1>
                <h2>Welcome to Student Konnect - Your Gateway to Connection Abroad!</h2>
                <p>At Student Konnect, we understand the unique and exciting journey of being a student in a foreign country. Navigating a new culture, forging connections, and creating a sense of belonging can be both thrilling and challenging. That's why we've created a vibrant online space dedicated to fostering a sense of community among native students studying abroad</p>
        
        <!-- <h1>How It Works</h1>
        <p>Native Friends is more than just a social network. It's a community of students who support and inspire each other. Here's what you can do on our website:
          <ol>
            <li><strong>Create your profile </strong>and tell us about yourself, your hobbies, your studies, and your native country.</li>
            <li><strong>Use our search algorithim </strong>to find and connect with other native students who are studying in the same or nearby countries.</li>
            <li><strong>Send and receive messages</strong>with your new friends and keep in touch with them.</li>
            <li><strong>Post your updates</strong>on our post page and share your experiences, challenges, and achievements with the community.</li>
            <li><strong>Invite your parents or guardians</strong>to join the website and keep up with your progress and well-being.</li>
          </ol>
        </p> -->
            <div class="btn">
                <a href="signin.html"><button class="button">Find Friends</button></a>
                <a href="signup.html"><button class="button">Learn More</button></a>
            </div>
         <!-- <a href="/signin.html"><button class="button">Learn More</button></a> -->
            </div>
            
        </div>
        <footer>
                <p>a</p>
            </footer>
    </section>
   
<script src="{% static 'js/script.js' %}"></script>
    
</body>
</html>