{% extends "authentication/base.html" %}
{% load static %} <!-- Load the static template tag library -->
{% block title %}About Us{% endblock %}

{% block extra_css %}
{% comment %}
<link rel="stylesheet" href="{% static 'css/about.css' %}"> {% endcomment %}
{% endblock %}

{% block content %}
<section id="about">
    <div class="about-page">
        <div class="mage">
            <div class="image-container">
                <div class="image-item">
                    <img src="{% static 'images/boy.png' %}" alt="Image 1">
                </div>
                <div class="image-item">
                    <img src="{% static 'images/gurl.jpeg' %}" alt="Image 2">
                </div>
                <div class="image-item">
                    <img src="{% static 'images/going.jpg' %}" alt="Image 3">
                </div>
                <div class="image-item">
                    <img src="{% static 'images/crowd.png' %}" alt="Image 4">
                </div>
            </div>
        </div>
        <div class="info">
            <h1> About Us</h1>
            <h2>Welcome to Student Konnect</h2>
            <p class="katibeh-regular">At StudentKonnect, we understand that studying abroad can be both an exciting
                adventure and a challenging
                transition. Our platform was created with the sole purpose of helping international students forge
                meaningful connections with friends from their native countries. Whether you’re looking to connect with
                fellow students at your school or find friends in the city where you’re studying, StudentKonnect is here
                to support you.</p>
            <!-- <span class="material-symbols-outlined icon">arrow_circle_down</span> -->
            <!-- <div class="btn">
                <a href="{% url 'signup' %}"><button class="button">Find Friends</button></a>
                <a href="signup.html"><button class="button">Learn More</button></a>
            </div> -->
            <div class="btn">
                <a href="{% url 'signup' %}">
                    <button class="button navy">Find Friends</button>
                </a>
                <a href="signup.html">
                    <button class="button orangered">Learn More</button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}