{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  
</head>
<body>


    {% for message in messages %}
    <div class="alert alert-{{message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}


    <!-- <h1>Welcome to Our app</h1> -->
    <div class="navbar" id="myNavbar">
        <div class="logo-container">
            <a href="index.html"><span style="color: #fff; font-size: 18px; font-weight: bold;">S.Konect</span></a>
  </div>
  <ul>
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact'%}">Career</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Service</a></li>
    </ul>
    <div class="btn">
    {% if user.is_authenticated %}

    <h3>Hello {{ fname }}</h3>
    <h4>You are loggedin succesfully</h4>
    <a href="signout"> <button type="submit">Sign OUt</button></a>

    {% else %}

    <a href="signup"> <button class="button" type="submit">Sign Up</button></a>
    <a href="signin"> <button class="button" type="submit">Sign In</button></a>

    {% endif %}

    </div>
    <div class="toggle-icon" onclick="toggleNavbar()">&#9776;</div>

    </div>

    <!-- Your page content goes here -->
<section id="home">
  <div class="profile">
    <h1>Find Friends</h1>
    
  </div>
</section>
<script src="{% static 'js/script.js' %}"></script>
    
    <script src="" async defer></script>
</body>
</html>