{% extends "authentication/nav2.html" %}
{% load static %} <!-- Load the static template tag library -->

{% block title %}Edit Profile{% endblock %}

{% block content %}
<section id="edit-profile">
    <div class="edit-profile-container">
        <h1>Edit Profile</h1>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="/edit_profile" method="post" id="edit-profile-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="image-upload-container">
                <img class="image-preview" src="{% if user_profile.profile_picture %}{{ user_profile.profile_picture.url }}{% else %}{% static 'images/woman.jpg' %}{% endif %}" alt="Profile Image" id="editPreviewImage">
                <input type="file" id="editProfileImage" name="profile_picture" accept="image/*" onchange="previewProfileImage()" required>
            </div>
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="fname" value="{{ user_profile.user.first_name }}" placeholder="Enter first name" required>
            </div>

            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lname" value="{{ user_profile.user.last_name }}" placeholder="Enter last name" required>
            </div>

            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" value="{{ user_profile.user.email }}" placeholder="Enter email address" required>
            </div>

            <div class="form-group">
                <label for="country">Country of Origin</label>
                <select id="country" name="country" required>
                    <option value="">Select country</option>
                    <!-- Country options will be populated by JavaScript -->
                </select>
            </div>

            <div class="form-group">
                <label for="location">Country of Study</label>
                <select id="location" name="location" required>
                    <option value="">Select country</option>
                    <!-- Location options will be populated by JavaScript -->
                </select>
            </div>

            <div class="form-group">
                <label for="institution">Academic Institution</label>
                <input type="text" id="institution" name="institution" value="{{ user_profile.institution }}" placeholder="Enter institution name" autocomplete="on" list="institution-datalist">
                <datalist id="institution-datalist"></datalist>
            </div>

            <button type="submit">Update Profile</button>
            <p>Want to go back? Click <a href="{% url 'profile_view' %}">here</a></p>
        </form>
    </div>
</section>
{% endblock %}

<!-- Place your script tag here, at the end of the body -->
