{% extends "authentication/nav2.html" %}
{% load static %}

{% block title %}Friends Page{% endblock %}

{% block content %}
<section id="friends">
    <div class="friend"> 
        <h1>This is your friends page</h1>
        
        <!-- Message Display Section -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h2>Incoming Friend Requests</h2>
        {% if incoming_requests %}
            <ul class="incoming-requests">
                {% for request in incoming_requests %}
                    <li class="request-card">
                        <div class="request-info">
                            {% if request.from_user.profile_picture %}
                                <img src="{{ request.from_user.profile_picture.url }}" alt="{{ request.from_user.username }}'s profile picture" class="avatar">
                            {% else %}
                                <img src="{% static 'images/default_profile.png' %}" alt="Default Profile Picture" class="avatar">
                            {% endif %}
                            <span class="friend-name">{{ request.from_user.first_name }} {{ request.from_user.last_name }}</span>
                        </div>
                        <div class="request-actions">
                            <a href="{% url 'accept_friend_request' request.id %}" class="accept-button">Accept</a>
                            <a href="{% url 'decline_friend_request' request.id %}" class="decline-button">Decline</a>
                        </div>
                    </li>
                {% empty %}
                    <li>No incoming friend requests.</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No incoming friend requests.</p>
        {% endif %}

        <h2>Your Friends</h2>
        <ul>
            {% for friend in friends %}
                <li class="friend-card">
                    {% if friend.profile_picture %}
                        <img src="{{ friend.profile_picture.url }}" alt="{{ friend.username }}'s profile picture" class="avatar">
                    {% else %}
                        <img src="{% static 'images/default_profile.png' %}" alt="Default Profile Picture" class="avatar">
                    {% endif %}
                    <div class="friend-info">
                        <span class="friend-name">{{ friend.first_name }} {{ friend.last_name }}</span>
                        <span class="friend-institution">{{ friend.institution }}</span>
                        <span class="friend-country">{{ friend.country }}</span>
                        <span class="friend-location">{{ friend.location }}</span>
                    </div>
                    <a href="{% url 'chat_with_friend' friend.id %}" class="send-message">Send Message</a>
                </li>
            {% empty %}
                <li>No friends found.</li>
            {% endfor %}
        </ul>

        <h2>Friend Suggestions</h2>
        <ul>
            {% for suggestion in suggestions %}
                <li class="friend-card">
                    {% if suggestion.profile_picture %}
                        <img src="{{ suggestion.profile_picture.url }}" alt="{{ suggestion.username }}'s profile picture" class="avatar">
                    {% else %}
                        <img src="{% static 'images/default_profile.png' %}" alt="Default Profile Picture" class="avatar">
                    {% endif %}
                    <div class="friend-info">
                        <span class="friend-name">{{ suggestion.first_name }} {{ suggestion.last_name }}</span>
                        <span class="friend-institution">{{ suggestion.institution }}</span>
                        <span class="friend-country">{{ suggestion.country }}</span>
                        <span class="friend-location">{{ suggestion.location }}</span>
                    </div>
                    <a href="{% url 'send_friend_request' suggestion.id %}" class="send-request">Send Friend Request</a>
                </li>
            {% empty %}
                <li>No friend suggestions available.</li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}