{% extends "authentication/nav2.html" %}
{% load static %} <!-- Load the static template tag library -->
{% block title %}Home Page{% endblock %}

{% block content %}
<section id="homepage" style="background-image: url('{% static 'images/background.jpg' %}'); background-size: cover; background-position: center; height: 100vh; color: white;">
        <div class="profile">
            <div class="text">
                <h1>Hello {{ user.username }}</h1>
                <h2>Welcome to {{ user.location }}!</h2>
                <p>Eager to start your new adventure? Here’s some guidance to start you off.</p>
            </div>
            <div class="news-container">
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}
                {% for category, articles in news_data.items %}
                    <div class="news-category">
                        <h2>{{ category|capfirst }}</h2>
                        {% if articles %}
                            <div class="news-list">
                                {% for article in articles %}
                                    <div class="news-card">
                                        <div class="image-container">
                                            {% if article.urlToImage %}
                                                <img src="{{ article.urlToImage }}" alt="Image for {{ article.title }}" class="news-image">
                                            {% else %}
                                                <img src="{% static 'default_image.jpg' %}" alt="Default Image" class="news-image">
                                            {% endif %}
                                        </div>
                                        <div class="news-content">
                                            <h3 class="news-title"><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h3>
                                            <p class="news-description">{{ article.description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>No articles available for {{ category }}.</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}


