{% extends "authentication/base.html" %}
{% load static %} <!-- Load the static template tag library -->
{% block title %}How it works{% endblock %}
{% block content %}

<section id="works">
    <div class="container">
      <div class="text-center">
            <h1>How It Works</h1>
            <h2>Learn more about our services and how they can benefit you.</h2>
        </div>
        <div class="cards-container">
            <div class="card">
                <div class="image-container">
                    <img src={% static 'images/acc.jpg' %} alt="Transportation" class="circular-image"> 
                </div>
                <h2>Create Your Account</h2>
                <p>Sign up by providing essential details such as name, country of origin, country of study, and the school you will be attending. This information helps us match you with friends who share similar backgrounds</p>
                <button class="{% url 'signup' %}">Learn More</button>
            </div>

            <div class="card">
                <div class="image-container">
                    <img src={% static 'images/happy.jpg' %} alt="Accommodation" class="circular-image"> 
                </div>
                <h2>Connect With Friends</h2>
                <p>Once your account is created, you can send friend requests based on your profile. Our inbuilt messaging functionality allows you to chat with your new friends easily..</p>
                <button class="learn-more">Learn More</button>
            </div>

            <div class="card">
                <div class="image-container">
                    <img src={% static 'images/genz.jpg' %} alt="Activities" class="circular-image"> <!-- Replace with your image -->
                </div>
                <h2>Cultural exchange and events</h2>
                <p> Stay updated on cultural exchange resources and upcoming events. Use this feature to post news about events you’re planning or interested in.There's something for everyone!</p>
                <button class="learn-more">Learn More</button>
            </div>
        </div>
    </div>
</section>

{% endblock %}