{% extends "authentication/base.html" %}
{% load static %}
{% block title %}Landing Page{% endblock %}

{% block content %}

<section id="home">
    <div class="home-profile">
        <div class="home-text">
            <h2>Connect with Fellow students Abroad!</h2>
            <h1>FIND YOUR COMMUNITY AND MAKE THE MOST OF YOUR STUDY ABROAD EXPERIENCE</h1>
            <div class="button">
                <button type="button"><a href="">Get Started</a></button>
            </div>
        </div>

    </div>
</section>
{% endblock %}