{% extends "authentication/base.html" %}
{% load static %}
{% block title %}Landing Page{% endblock %}

{% block content %}

<section id="home">
    <div class="home-profile">
        <div class="home-text">
            <h1>mila</h1>
            {% comment %} <h2>Connect with Fellow students Abroad!</h2> {% endcomment %}
            <h1>Find your Community And Make The Most Of Your Study Abroad Experience</h1>
            <div class="cta-container">
                <a href="{% url 'signup' %}" class="cta-button">Get Started</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}