{% extends "authentication/base.html" %}
{% load static %}

{% block title %}Sign In{% endblock %}

{% block content %}
<section id="signin-formy">
    <form action="{% url 'signin' %}" method="post" enctype="multipart/form-data" id="signin-form">
        {% csrf_token %}
        <div class="image-upload-container">
            {% if request.session.profile_picture %}
                <img class="image-preview" src="{{ request.session.profile_picture }}" alt="Profile Picture" id="previewImage">
            {% else %}
                <img class="image-preview" src="{% static 'images/woman.jpg' %}" alt="Dummy Image" id="previewImage">
            {% endif %}
            <input type="file" id="profileImage" name="profileImage" accept="image/*" onchange="previewProfileImage()">
        </div>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>
        
        <label for="pass1">Password:</label>
        <input type="password" id="pass1" name="pass1" placeholder="Enter your password" required>
        
        <button type="submit">Sign In</button>
        <p>Don't have an account? Create one <a href="{% url 'signup' %}">here</a></p>
        <p><a href="{% url 'password_reset_request' %}">Forgot Password?</a></p>
    </form>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
{% endblock %}
<script src="{% static 'js/script.js' %}"></script>

<script>
    function previewProfileImage() {
        const file = document.getElementById('profileImage').files[0];
        const preview = document.getElementById('previewImage');
        
        const reader = new FileReader();
        
        reader.addEventListener("load", function () {
            preview.src = reader.result;
        }, false);
        
        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>
