{% extends "authentication/base.html" %}

{% block title %}Sign In{% endblock %}

{% block content %}
<section>
    <form action="/signin" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="image-upload-container">
            <img class="image-preview" src="{% static 'image/woman.jpg' %}" alt="Dummy Image" id="previewImage">
            <input type="file" id="profileImage" name="profileImage" accept="image/*" onchange="previewProfileImage()">
        </div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required><br>
        <label for="pass1">Password:</label>
        <input type="password" id="pass1" name="pass1" placeholder="Enter your password" required><br>
        <button type="submit">Sign In</button>
        <p>Don't have an account? Create one <a href="{% url 'signup' %}">here</a></p>
    </form>
</section>
{% endblock %}