@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Arial', sans-serif, 'Itim', cursive;
  height: 100vh;
}

.navbar {
  background-color: #001F3F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
  position: fixed;
  top: 0;
  /* Position at the top */
  z-index: 1000;
  /* Ensure it stays above other content */
}

.logo-container {
  width: auto;
}

.navbar ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  /* Allow the ul to grow and take available space */
}

.navbar li {
  margin-right: 8px;
}

.navbar a,
.navbar .button {
  display: inline-block;
  margin: 0 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar a:hover {
  color: #333;
  text-decoration: underline;
}

.navbar ul li .active {
  color: red;
}

.btn button {
  background-color: red;
  border-radius: 4px;
  padding: 5px 10px;
  border: 0;
}

.btn .button a {
  font-weight: bolder;
  border: none;
}

.navbar .button:hover {
  background-color: #0086B3;
}

.toggle-icon {
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 15px;
}

footer {
  height: 40px;
  background-color: #001F3F;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  padding: 0 10px;
}

@media screen and (max-width: 600px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    background-color: #001F3F;
    width: 100%;
  }

  .navbar .toggle-icon {
    display: block;
  }

  .navbar.responsive ul {
    display: flex;
  }

  .navbar.responsive {
    flex-direction: column;
    text-align: center;
  }

  .navbar.responsive a,
  .navbar.responsive .button {
    display: block;
    width: 100%;
    padding: 14px 23px;
    cursor: pointer;
  }

  footer p {
    font-size: 13px;
  }

  .navbar .btn button {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .navbar {
    padding: 8px;
  }

  .navbar a,
  .navbar .button {
    display: inline-block;
    /* margin: 0 3px; */
    font-size: 10px;
  }

  .navbar .logo-container {
    flex: 1;
  }

  .navbar .toggle-icon {
    display: none;
    /* Hide toggle icon on larger screens */
  }
}

/* landing page */
/* home section */
#home {
  height: 100vh;
  color: black;
  background-image: url('/static/images/Rectangle 2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.home-profile {
  width: 100%;
  max-width: 1300px;
  padding: 250px 20px;
  margin: auto;
}

.home-text {
  position: relative;
  z-index: 2;
  color: white;
  text-align: left;
  width: 100%;
  padding: 50px 20px;
}

.home-text h2 {
  color: red;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-text h1 {
  font-size: 58px;
  font-weight: bolder;
  margin-bottom: 20px;
}

#home .button button {
  background-color: red;
  color: white;
  border-radius: 4px;
  padding: 12px 22px;
  border: 0;
  margin-left: 10px;
}

#home .button button a {
  color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .home-text {
    text-align: start;
  }

  .home-text h2 {
    padding-top: 80px;
    font-size: 35px;
  }

  .home-text h1 {
    font-size: 38px;
    margin-bottom: 80px;
    text-align: start;
  }

  .home-profile {
    padding: 100px 10px;
  }

  .home-text {
    padding: 30px 10px;
  }
}

@media (max-width: 480px) {

  .home-text h2 {
    font-size: 24px;
    padding-top: 70px;
  }

  .home-text h1 {
    font-size: 32px;
    padding-top: 30px;
    text-align: center;
  }

  #home .button button {
    padding: 10px 15px;
  }
}


#homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(19, 18, 18, 0.589);
  z-index: 1;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: auto;
  width: 90%;
  /* max-width: 800px; */
  margin: 160px auto 0;
}

.text {
  padding: 20px;
  margin: 20px 0;
  background-color: rgba(217, 217, 217, 0.41);
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* Allow wrapping of rows */
  justify-content: space-between;
  /* Space between cards */
  margin-top: 20px;
}

.row {
  background-color: #f0f0f0;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  flex: 1 1 calc(25% - 20px);
  /* Four cards per row */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  /* Set a minimum width for smaller screens */
}

small {
  color: purple;
}

@media (max-width: 1024px) {
  .row {
    flex: 1 1 calc(50% - 20px);
    /* Two cards per row on medium screens */
  }
}

@media (max-width: 600px) {
  .row {
    flex: 1 1 100%;
    /* Stack rows on small screens */
  }
}

.profile h1 {
  font-size: 36px;
  font-weight: lighter;
  margin-bottom: 20px;
  font-family: 'Itim', cursive;
  color: #FF6F20;
}

.profile h2 {
  font-family: 'Katibeh', serif;
  font-weight: 400;
  font-size: 58px;
  line-height: 52px;
  color: #333;
}

.profile p {
  font-family: 'Katibeh', serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.5;
  margin: 5px 0;
  color: black;
}

.profile button {
  margin-top: 30px;
  border-radius: 5px;
  outline: 0;
  border: none;
  background-color: navy;
  color: white;
}

.profile button a {
  color: white;
  text-transform: capitalize;
}

.profile button:hover {
  background-color: white;
  color: black;
  border: 2px solid navy;
}

.profile button a:hover {
  color: black;
}

@media (max-width: 480px) {
  .row {
    flex: 1 1 100%;
    /* Stack rows on small screens */
  }

  .profile {
    padding: 10px;
    width: 100%;
    /* Ensure full width */
  }

  .text {
    padding: 10px;
  }

  .profile h1 {
    font-size: 24px;
  }

  .profile h2 {
    font-size: 28px;
  }

  .profile p {
    font-size: 18px;
  }

  .card {
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .profile {
    padding: 5px;
  }

  .text {
    padding: 5px;
  }

  .profile h1 {
    font-size: 20px;
  }

  .profile h2 {
    font-size: 24px;
  }

  .profile p {
    font-size: 16px;
  }
}

/* Form Styles */
#formy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

form {
  max-width: 400px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  /* Set your desired background color for the form */
  padding: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: start;
}

.image-upload-container {
  position: relative;
  margin-bottom: 12px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  border: 3px solid red;
}

.image-preview {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#username,
#fullname,
#email,
#country,
#location,
#institution,
#pass1,
#pass2,
#password {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

button {
  background-color: navy;
  color: #fff;
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #2980b9;
  border: 1px solid navy;
}

p {
  margin-top: 10px;
}

/* About Page Styles */
#about {
  background-color: #fff;

  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: red; */
  height: 97vh;

}

.about-page .mage {
  width: 750px;
  height: 600px;
  margin-top: 80px;
  /* border: 2px solid red; */
}

.about-page .mage img {
  width: 100%;
  height: 100%;
}

.about-page .image-container {
  display: flex;
  flex-wrap: wrap;
  /* Allow images to wrap to the next line */
  justify-content: center;
  /* Center images */
  margin-bottom: 20px;
  /* Space below the images */
}

.image-item {
  width: calc(50% - 20px);
  /* Two images per row with spacing */
  margin: 10px;
  /* Space between images */
}

.image-item img {
  width: 100%;
  /* Make images responsive */
  height: auto;
  /* Maintain aspect ratio */
  border-radius: 3px;
  /* Optional: Add rounded corners */
}

.about-page .info {
  width: 650px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;
  margin-top: -80px;
}

.info h1 {

  color: #F0440E;
  font-size: 64px;
  margin-bottom: 20px;
  font-family: "Katibeh", serif;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  line-height: 22px;
  font-weight: 400;
  /* text-indent: 80px; */

}

.info h2 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #001F3F;
  font-weight: 600;
  margin-bottom: 20px;
}

.info p {
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
}

.info .btn {
  position: relative;
  display: flex;
}

.info .btn button {
  outline: 0;
  border: 0;
  border: 2px solid #3498db;
  box-shadow: 0px 2px 0px #3498db;
  background-color: navy;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (max-width: 600px) {
  #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    overflow: auto;
    padding: 10px;
    height: 100vh;
  }

  .about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .about-page .mage {
    width: 100%;
    max-width: 320px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .about-page .mage img {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }

  .about-page .info {
    width: 100%;
    max-width: 300px;
    font-size: 15px;
    text-align: justify;
    padding: 0 2px;
    margin: 0;
  }

  .about-page .info h1,
  .about-page .info h2 {
    text-align: center;
    margin: 10px 0;
  }

  .about-page .info p {
    width: 100%;
    font-size: 18px;
    margin: 0;
  }

  .btn {
    display: inline-block;
    margin-top: 10px;
  }


  /* footer {
    display: none;
    position: relative;
    bottom: 0;
  } */
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  #about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
  }

  .about-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .about-page .mage {
    width: 50%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
  }

  .about-page .mage img {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }

  .about-page .info {
    width: 50%;
    max-width: 400px;
    font-size: 16px;
    text-align: justify;
    padding: 0 10px;
  }

  .about-page .info h1,
  .about-page .info h2 {
    text-align: center;
    margin: 10px 0;
  }

  .about-page .info p {
    width: 100%;
    font-size: 18px;
    margin: 0;
  }

  .btn {
    display: inline-block;
    margin-top: 10px;
  }

  /* footer {
    display: none;
    position: relative;
    bottom: 0;
  } */
}

#friends {
  /* background-color: darkcyan; */
  color: white;

}

.friend {
  margin-top: 60px;
  width: 600px;
  height: 500px;
  background-color: #FF6F20;
  color: white;
}