
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; 
  /* outline: 0; */
  /* border: 0; */
}
body {
  height: 100vh;
  font-family: 'Arial', sans-serif;
  font-family: 'Itim', cursive;
  text-decoration: none;
  background-image: url("/static/image/young.jpg");
  /* background-image: url("young.jpg"); */
  background-size: cover;
  /* background-position: center; */
  background-repeat:no-repeat ;
  /* overflow:scroll; */
}
.navbar {
  background-color: #3498db;
  /* width: 100vh; */
  /* background-color: grey; */
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Add relative positioning */
}
.logo-container {
  width: auto; /* Set to auto to adjust based on text size */
}
.logo-container:hover{
  color: red;
}
.navbar ul {
  display: flex;
}
.navbar li {
  margin-right: 8px; /* Adjust the margin to reduce space between links */
}
.navbar a {
  color: #fff; 
  padding: 0 10px; /* Adjust the padding to reduce space between links */
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
.navbar a:hover {
   /* background-color: #ddd; */
  color: #333;
  text-decoration: underline;  
  }
/* .navbar .button {
  background-color: navy;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 14px;
} */
.navbar ul li .active{
  color: red;
}
.navbar .button:hover{
    background-color: #333;
    cursor: pointer;
}
.toggle-icon {
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  position: absolute; /* Add absolute positioning */
  top: 10px; /* Adjust the top position as needed */
  right: 15px; /* Adjust the right position as needed */
}
@media screen and (max-width: 600px) {
  .navbar {
    padding: 20px 15px; /* Adjust the padding to fit the toggle bar and logo */
  }
  .navbar a, .navbar .button {
      display: none;
  }
  .navbar .logo-container {
    width: auto; /* Set to auto to adjust based on text size */
    position: absolute;
    top: 10px;
    left: 15px;
  }
  .navbar .toggle-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .navbar.responsive {
    flex-direction: column;
    text-align: center;
  }
  .navbar.responsive ul {
    flex-direction: column;
  }
  .navbar.responsive a, .navbar.responsive .button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 14px 23px;
    cursor: pointer;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: #333;
    width:100%;
  }
  }

  /* form */
  section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    /* background-color:#333; */
  }
 
form {
  max-width: 400px;
  width: 100%;
  text-align: center;
  width: 500px;
  background-color:#fff; 
  padding: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-bottom: 8px;
  text-align: start;
}
.image-upload-container {
  position: relative;
  margin-bottom: 12px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.image-preview {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
#username, #fname, #lname, #email, #country, #location, #institution, #pass1, #pass2, #password #password{
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}
button {
  background-color: navy;
  color: #fff;
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 18px;
}
button:hover {
  background-color: #2980b9;
  border: 1px solid navy;
}
p {
  margin-top: 10px;
}
  /* home */
#home{
  position: relative;
  /* top: -200px; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
}
#home .profile{
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  width: 1000px;
  position: relative;
  top: -210px;
  }
.profile h2{
  font-weight: 400;
  /* width: 1000px; */
}
.profile h1{ 
  font-size: 52px;
  font-weight: bolder;
  margin-bottom: 10px;
  /* position: relative; */  
}
.profile h2, p{
  font-size: 31px;
}
.profile button{
  margin-top: 30px;
  border-radius: 5px;
  outline: 0;
  border: none;
  background-color: white;  
}
.profile button a{
  color: black;
  text-transform: capitalize;
}
.profile button:hover{
  background-color:#3498db;
  color: white;
}
.profile button a:hover{
  color: white;
}
@media screen and (max-width: 600px) {
  #home{
    padding-top: 10px;
  }
  .profile{
    justify-content: center;
    align-items: center;
    position: relative;
  }
  h1{
    padding-top: 30px;
    text-align: center;
  }
  h2, p{
    text-align:start;
  }

}